#btn{
    background-color: black;
    font-size: 14pt;
    color: #ffffff;
    border: 2px solid #ffffff;

}
#btn:hover{
    background-color:#10cfc6;
    color: #000;
    border: 2px solid #000;

}
form{
    /* text-align: left; */
    padding: 8px;
    width: 30vw;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.formCad{
    justify-content: flex-end;
    margin: auto;
    text-align: center;
    padding: 8px;
    width: 50vw;  
    border: 2px solid black;
}
.titulo{
    font-size: 14pt;
    font-weight: bold;
    
}
#link{
    color: blue;
}