.container{
    width: 100vw;
    height: 100vh;
}
.error{
    max-width: 500px;
    background-color: aquamarine;
    padding: 2rem;
    margin:0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.error h2, .error h1{
    font-size: 20pt;
    font-weight: bolder;
}