*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --branco: #FFFFFF;
    --cinza: #c8c8c8;
    --preto: #000000;
    --cinza1: #aaa;
}
.container{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100vw;
    height: 10vh;
    background-color: var(--cinza1);
    border-bottom: 2px solid var(--preto);
    text-align: center;
}
.dados{
    margin-top: 10px;
}
.campos{
    margin-top: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color:var(--branco);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--cinza1);
    width: 80%;
  }
.modal-content h3{
    width: 50%;
    border-bottom: 1px solid var(--preto);
    margin-bottom: 20px;
 }
.Fechar {
    color:var(--cinza1);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.Fechar:hover,
.Fechar:focus {
    color: var(--preto);
    text-decoration: none;
    cursor: pointer;
}
.tabela {
    display: none;
    margin-top: 20px;
    width: 60%;
    border: 1px solid var(--preto);
}
th, td {
    text-align: center;
    padding: 8px;
}
th {
    background-color: var(--preto);
    font-weight: bold;
    color: var(--branco);
}
tr:nth-child(even) {
    background-color:var(--cinza);
}
.btnBuscarCep,#btnCalcular,.btnSaiba{
    padding: 2px;
    width:10%;
    border-radius: 10px;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 12pt;
}
.btnBuscarCep a{
    text-decoration: none;
    color: var(--branco);
    font-size: 12pt;
}
.btnBuscarCep:hover{
    background-color: var(--cinza1); 
}
.content{
    width: 80%;
    padding: 10px;
    margin: auto;   
}
.campos_Formato{
    margin-top: 10px;
    text-align:left;
    height: 30%;
    background-color:green;
}
.formato img{
    width: 10%;
    height: 10%;
}
.caixa_Select{
    display: flex;
    gap: 20px;
}
.cubo{
    display: block;
}
/* .cubo.ativo{
    display: block;
} */
.cilindro{
    display: none;
}
/* .cilindro.ativo{
    display: block;
} */