.tabela{
    display: none;
    margin-top: 20px;
    width: 60%;
    border: 1px solid var(--preto);
}
.tabelaCalculo{
    display: none;
    margin-top: 20px;
    width: 50%;
    border: 1px solid var(--preto);
}
.tabela td,.tabelaCalculo td {
    text-align: center;
    padding: 8px;
    font-size: 14pt;
    font-weight: bold;
    column-width: auto;
}
.tabela th{
    grid-column: 2;
    background-color: var(--preto);
    height: 40px;
    color: var(--branco);

}
.tabelaCalculo td{
    width: 25%;
    padding: 2px;

}
caption{
    background-color: var(--preto);
    font-weight: bold;
    color: var(--branco);
    padding: 5px;
}
tr:nth-child(even) {
    background-color:var(--cinza);
}
/* Form das Dimensões */
.cubo,.cilindro{
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    background-color: rebeccapurple;
    width: 50%;
  }
  
  .cuboCampos,.cilindroCampos {
    background-color: aqua;
    flex-basis: 50%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 60%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }